<div class="container_panel">

  <mat-toolbar class="mat-toolbar" fxShow="true" fxHide.gt-sm>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="container-menu" fxHide.lt-md autosize>

    <div class="menu_inner">
      <span class="logo_text"><a href="#head">logo</a> </span>
      <mat-nav-list class="menu_list">
        <a mat-list-item (click)="closeMenu()">Заявки</a>
        <a mat-list-item (click)="closeMenu()">Архив</a>
        <a mat-list-item (click)="closeMenu()">Настройки</a>
        <a mat-list-item (click)="logOut()">Выйти</a>
      </mat-nav-list>
    </div>




  </mat-sidenav-container>
</div>

<app-orders></app-orders>
