.container-menu {
  display: flex  ;
  position: fixed ;
  padding-top: 150px;
  justify-content: center;
  width: 180px;
  height: 100%;
  background: linear-gradient(315deg, #f6e1a4, #cfbd8a);
  box-shadow:  -5px -5px 10px #b1a276,
  5px 5px 10px #ffffbc;
}

.menu_inner {
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.logo_text a {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ff9100;
  text-decoration: none;
}

.mat-toolbar{
  display: block;

  background: gainsboro;
  height: 50px;
}

.menu-opened:host .container-menu {
  display: block  !important;
  position: absolute !important;
  padding-top: 150px;
  width: 200px;
  height: 100%;
  background: gainsboro;
}

.menu-opened:host .menu_inner {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

