
#heading{
  position: relative;

}

.container{
  position: relative;
  text-align: center;
  background: #808080 url("../../../assets/image/hero_1.jpg") center no-repeat;
  background-size: cover;
  left: 0;
  height: 750px;

}

.heading-section{
  position: relative;
  top: 250px;
  color:  darkorange;
}
.heading-button{
  position: relative;
  margin-top: 50px;
  border-radius: 38px;
  background: linear-gradient(145deg, #d86c00, #b65b00);
  box-shadow:  15px 15px 78px #713900,
  -15px -15px 78px #ff9100;
}
