
<section id="head" >

  <div class="container">
    <div class="heading-section" fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h1 [ngStyle.xs]="{'font-size': '32px'}" [ngStyle.sm]="{'font-size': '42px'}">Ремонт Техники</h1>
      </div>
      <div>
        <h2 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Ремон вашей техники на дому</h2>
        <h2>Оставьте заявку, наш оператор свяжется в кратчайшие сроки</h2>
      </div>
      <div fxLayout="row">
        <a class="heading-button" mat-raised-button color="accent" (click)="openDialog()">Отправить заявку</a>
      </div>
    </div>
  </div>

</section>

