<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="login">
        </mat-form-field>
      </p>


      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="form.controls['password'].invalid">
            Не менее 5 символов
          </mat-error>
        </mat-form-field>
      </p>


      <div class="button">
        <button type="submit" mat-raised-button [disabled]="form.invalid ">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
