/* You can add global styles to this file, and also import other style files */

html, body { display: block }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;

  background-color: #ff9100;
}

::-webkit-scrollbar-track {
  border-width: 0;
}
