<section id="contacts">

  <div class="container_inner" fxLayout="row" fxLayoutAlign="space-between">

    <div class="footer_info">
      <div class="footer_head" fxLayoutAlign="start">
        <p>Контакты</p>
      </div>

      <div class="footer_info_inner" fxLayout="row" fxLayoutAlign="center center">

        <div id="footer_phone" fxLayout="row">
          <mat-icon>phone</mat-icon>
          <span>  +792456874587 </span>
        </div>


        <div id="footer_address" fxLayout="row"  >
          <mat-icon>add_location</mat-icon>
          <span>г.Таганрог, ул. Чехова 25</span>
        </div>

        <div id="footer_email" fxLayout="row">
          <mat-icon>email</mat-icon>
          <span>vuyvut70@gmail.com</span>
        </div>
      </div>

    </div>

    <div class="footer_social_icon" fxLayout="row" fxLayoutAlign="center center">

      <div class="social_instagram">
        <a href="https://www.instagram.com/" target="_blank">
          <svg width="60" height="60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M43.442 0H16.557C7.427 0 0 7.428 0 16.558v26.884C0 52.572 7.428 60 16.557 60h26.885C52.572 60 60 52.572 60 43.442V16.558C60 7.428 52.572 0 43.442 0zm11.234 43.442c0 6.195-5.04 11.234-11.234 11.234H16.557c-6.194 0-11.234-5.04-11.234-11.234V16.558c0-6.195 5.04-11.235 11.234-11.235h26.885c6.194 0 11.234 5.04 11.234 11.235v26.884z"
              fill="#fff"></path>
            <path
              d="M30 14.54c-8.525 0-15.46 6.935-15.46 15.46 0 8.525 6.935 15.46 15.46 15.46 8.525 0 15.46-6.935 15.46-15.46 0-8.525-6.935-15.46-15.46-15.46zm0 25.596c-5.59 0-10.137-4.547-10.137-10.136 0-5.59 4.547-10.137 10.137-10.137 5.59 0 10.137 4.547 10.137 10.137 0 5.59-4.548 10.136-10.137 10.136zM46.109 10.026a3.92 3.92 0 00-2.758 1.143 3.923 3.923 0 00-1.146 2.761c0 1.026.419 2.034 1.146 2.761a3.934 3.934 0 002.758 1.143c1.029 0 2.033-.419 2.76-1.143a3.933 3.933 0 001.144-2.76 3.92 3.92 0 00-1.143-2.762 3.92 3.92 0 00-2.761-1.143z"
              fill="#fff"></path>
          </svg>
        </a>
      </div>

      <div class="social_vk">
        <a href="https://vk.com/" target="_blank">
          <svg width="60" height="36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M53.524 23.672l-.032-.03c-.513-.474-2.082-2.005-2.611-2.673-.621-.835-.478-1.381-.012-2.2.588-1.036 1.767-2.624 3.014-4.305 3.995-5.384 6.575-9.11 6.044-11.758l-.286-1.414-14.755.006c-.052.14-.822 3.529-4.071 9.3-2.356 4.184-3.902 5.498-4.446 5.73l-.084-.025c-.177-.22-.487-.811-.614-2.336-.133-1.598-.015-3.532.099-5.402.133-2.194.248-4.088-.027-5.443L35.295.914C34.753.827 32.77.06 27.247.002c-4.783-.049-6.188.644-6.877 1.254l-2.282 2.017 2.884.973c1.098.37 1.462.797 1.761 2.913.195 1.38.297 3.699.087 5.769-.303 2.967-1.029 3.52-1.066 3.55-.125-.044-1.185-.508-3.025-4.405-1.276-2.703-2.395-5.9-3.212-8.235-.936-2.674-.767-2.105-1.242-3.368H0l.924 2.394c3.85 9.991 7.384 17.793 12.113 23.397 5.225 6.192 11.717 9.433 20.464 9.433h1.757v-1.76c0-1.647.136-2.833.428-3.732.178-.548.415-1 .663-1.475.37-.7.73-.999.927-1.043.178-.04.492.09.84.35 1 .747 1.792 1.727 2.632 2.766 1.21 1.498 2.463 3.047 4.45 4.061 1.086.554 3.077.834 4.172.834H60l-.075-1.834c-.113-2.742-2.267-6.17-6.4-10.19zm-4.086 8.5h-.028c-.756.012-2.197-.236-2.616-.45-1.322-.674-2.245-1.816-3.315-3.14-.938-1.16-1.91-2.362-3.261-3.372-1.093-.817-2.086-1.055-2.875-1.055-.314 0-.597.038-.84.093-.915.206-2.224.866-3.264 2.837-.294.561-.627 1.197-.896 2.028-.283.87-.458 1.836-.542 3.011-6.591-.375-11.734-2.988-16.08-8.137C11.683 19.2 8.505 12.502 5.139 3.991h6.706l.356 1.012c.881 2.519 2.088 5.967 3.51 8.908 2.037 4.212 3.897 6.09 6.03 6.09 1.066 0 2.021-.452 2.763-1.309 1.058-1.22 1.672-3.235 1.878-6.159.163-2.305.012-4.602-.167-5.867-.147-1.041-.357-2.134-.87-3.114 2.185-.098 5.11.058 6.964.324.169.92.059 2.726-.047 4.474-.257 4.223-.522 8.58 1.708 10.618.393.36.809.551.82.56l1.136.348c.438-.135 2.975 1.155 7.78-7.247 1.54-2.692 2.973-5.793 3.745-7.82 1.79-.003 7.887.004 8.604.005-1.015 2.238-3.42 5.43-4.992 7.548-1.37 1.847-2.554 3.441-3.248 4.663-1.29 2.27-1.074 4.293.27 6.078l.021.027c.75.957 2.602 2.727 2.986 3.084 2.782 2.707 4.123 4.65 4.76 5.958h-6.413z"
              fill="#fff"></path>
          </svg>
        </a>
      </div>

      <div class="social_twitter">
        <a href="https://twitter.com/" target="_blank">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="60px" height="60px">
            <path
              d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"
              fill="#fff"/>
          </svg>
        </a>
      </div>
    </div>

  </div>


  <svg id="svg" style="display: none">
    <defs>
      <filter id="colorFilter">
        <feColorMatrix
          color-interpolation-filters="sRGB"
          type="matrix"
          values="1.00 0   0   0   0
                        0   0.55  0   0   0
                        0   0   0.00  0   0
                        0   0   0   1   0 "/>
      </filter>
    </defs>
  </svg>


</section>

