.container_inner {
  background-color: black;
  min-height: 200px;
}

.footer_info {
  color: darkorange;
  margin-left: 25px;

}

.footer_head {
  font-size: 32px;
  font-weight: 700;
}

.footer_info_inner div:not(:first-child) {
  border-left: 4px solid darkorange;
  margin: 0 32px;
}

.footer_info_inner div:first-child {
  border-left: 4px solid darkorange;
}

.footer_info_inner span {
  font-size: 20px;
  align-items: center;
  padding-left: 20px;
  height: 40px;
}

mat-icon {
  font-size: 38px;
}

.footer_info_inner mat-icon {
  padding-left: 20px;
}

.footer_social_icon svg:hover {
  filter: url(#colorFilter);
}

.footer_social_icon svg {
  margin-right: 35px;

}
.footer_social_icon{
  flex-wrap: wrap;
}
.footer_info_inner{
  flex-wrap: wrap;
}
