
.container h2 {
  font-size: 24px;
  text-align: center;
}


.about-text {
  text-align: center;
  font-size: 18px;
}

.material-icons {
  font-size: 68px;
  display: inline-block;

}

.about-question {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 100px;

}

.about-heading div {
  padding-top: 33px;
  padding-bottom: 52px;

}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #808080 url("../../../assets/image/about-backround.jpg") center no-repeat;
  background-size: cover;
  left: 0;
  min-height: 500px;
  max-height: 100%;
  padding-top: 50px;
  color: darkorange;
}

