<section id="about" class="mat-typography">
  <div class="container">

    <div class="about-heading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
      <div>
        <span class="about-question" [ngStyle.lt-md]="{'margin-bottom': '10px'}">Почему выбирают наш сервис?</span>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
          </div>
          <h2>Мы следим за качеством</h2>
          <p class="about-text">На Ваш вызов приедет мастер, который специализируется на ремонте ПК</p>
        </div>
      </div>

      <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
          </div>
          <h2>Быстрый ремонт</h2>
          <p class="about-text">Мы ценим ваше время и стараемся решить вашу проблему максимально быстро!</p>
        </div>
      </div>

      <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">add_comment</i>
          </div>
          <h2>Гарантия до 24 месяцев</h2>
          <p class="about-text">При ремонте мы используем только новые запчасти, что позволяет нам давать гарантию до 24
            месяцев</p>
        </div>
      </div>

      <div fxFlex="25">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div>
            <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">attach_money</i>
          </div>
          <h2>Доступные цены</h2>
          <p class="about-text">Цена ниже чем у конкурентов на 10-15%. Мы напрямую закупаем запчасти из-за границы.
            Благодаря этому ремонт в нашей компании в среднем дешевле на 10-15%</p>
        </div>
      </div>
    </div>
  </div>
</section>
