<section class="toolbar">
  <mat-sidenav-container>
    <mat-toolbar class="container_inner">


      <span class="logo_text"><a href="#head">logo </a> </span>


      <mat-nav-list class="toolbar_menu" fxShow="true" fxHide.lt-md>
        <a (click)="closeMenu()" href="#head">Оставить заявку</a>
        <a (click)="closeMenu()" href="#about">О нас</a>
        <a (click)="closeMenu()" href="#contacts">Контакты</a>
      </mat-nav-list>

      <button id="menu-toggle" mat-icon-button [ngStyle]="{'color': 'white'}" (click)="toggleMenu()"
              fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>
  </mat-sidenav-container>

</section>

<app-header></app-header>
<app-about></app-about>
<app-contact></app-contact>



