.toolbar {
  font-family: 'Montserrat', sans-serif;
}

.container_inner {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  min-width: 320px;
  background-color: black;
  vertical-align: middle;
  position: fixed !important;
  top: 0;
}

.toolbar_menu {
  padding: 0;
  margin-right: 180px;
  font-size: 22px;
}

.toolbar_menu a {
  margin-left: 40px;
  color: azure;
}

.logo_text{
  margin-left: 25px;
}
.logo_text a {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ff9100;
  text-decoration: none;
}
.icon {
  font-size: 24px;
}

.menu-opened:host .mat-nav-list {
  width: 100% !important;
  background: black;
  line-height: 56px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 0;
}

.menu-opened:host .mat-nav-list a{
  margin-left: 0 !important;
}
