<div mat-dialog-content [formGroup]="userInfoReq">

  <mat-form-field appearance="fill">
    <mat-label>Введите имя</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Введите телефон</mat-label>
    <input matInput formControlName="phone" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Адрес проживания</mat-label>
    <input matInput formControlName="address" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Описание заказа</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-label>* - Обязательные к заполнению поле</mat-label>
</div>
<div mat-dialog-actions>
  <button id="cancelButton" mat-raised-button color="accent" (click)="onNoClick()" cdkFocusInitial>Отмена</button>
  <button mat-raised-button color="accent" [disabled]="userInfoReq.invalid" (click)="createOrder()">Отправить</button>
</div>
